{% extends 'listings/base.html' %}

{% block content %}
<h1>{{ title }} </h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sed iaculis dolor. Etiam volutpat finibus risus,
    ut efficitur massa. Aliquam maximus ex vitae venenatis hendrerit. Morbi iaculis ex a mauris malesuada lacinia.
    Pellentesque venenatis porttitor mollis. Nullam leo lectus, vehicula vel semper nec, lobortis eu metus. Praesent
    vel neque sed quam fermentum vestibulum. Morbi nec neque sodales, pulvinar nisi id, suscipit nisl. Morbi sit
    amet arcu ut eros sodales consequat. Morbi vitae velit et sapien sollicitudin bibendum. Vestibulum feugiat eget
    ipsum ut volutpat. Donec congue risus orci, sed pulvinar mauris volutpat id. Praesent eu velit in est dictum
    auctor eu ut ex. Nullam commodo dapibus mi.</p>

</body>

</html>
{% endblock %}