{% extends 'listings/base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
<h1>Hello Django !</h1>
<p>Mes groupes préférés sont :</p>
<!-- TODO : liste des groupes -->
# exemple de code

<p>J'ai {{ bands|length }} groupes préférés.</p>
<p>

    {% if bands|length < 5 %} peu de {% elif bands|length < 10 %} quelques {% else %} beaucoup de {% endif %} groupes
        préférés. </p>
        <ul>
            {% for band in bands %}
            <li><a href="{% url 'band-detail' band.id %}">{{ band.name }}</a></li>
            {% endfor %}
        </ul>
        {% endblock %}